$primary-bg: rgb(182, 182, 182);
$secondary-bg: rgb(59, 59, 59);
$primary: rgb(237, 51, 47);
$primary-dk: rgb(161, 18, 16);
$secondary: rgb(240, 240, 72);
$secondary-dk: rgb(217, 200, 54);
$complimentary: rgb(19, 116, 186);
$complimentary-dk: rgb(24, 104, 161);
$tertiary: #ff4411;
