@import "variables";

.q{
    background: url("../images/characters/q.jpg");
}
.q-smile{
    background: url("../images/characters/qSmile.jpg");
}
.kirk{
    background: url("../images/characters/Kirk.jpg");
}
.lacutus{
    background: url("../images/characters/Lacutus.jpg");
}
.scotty{
    background: url("../images/characters/Scotty.jpg");
}
.scotty-fear{
    background: url("../images/characters/ScottyFear.jpg");
}
.spock{
    background: url("../images/characters/Spock.jpg");
}
.chekov{
    background: url("../images/characters/Chekov.jpg");
}
.klingon{
    background: url("../images/characters/AngryKlingon.jpg");
}
.happy-klingon{
    background: url("../images/characters/HappyKlingon.jpg");
}
.default{
    background: url("../images/characters/default.jpg");
}
.borg {
    background-image: url("../images/backgrounds/borg.png");
}
.borg-end {
    background-image: url("../images/backgrounds/borg-intimidate.jpg");
    animation: fadein 1s;
    border: 1px $secondary-bg solid;
} 
.hit{
    background-size: 200px 200px !important;
    background-image: url("../images/backgrounds/hit.png");
    animation: explode 1s ease-out;
    border: 1px $secondary-bg solid;
}
.miss{
    background-image: url("../images/backgrounds/miss.png");
    animation: fadein 1s;
    border: 1px $secondary-bg solid;
}
@keyframes explode {
    0% {
        background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
        opacity: .5;
    }
    100% {
        background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
    }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}