@import "variables";
.modal-window {
    position: fixed;
    background-color: rgba(0,0,0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
    &:target {
      opacity: 1;
      pointer-events: auto;
    }
    &>div {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: #ffffff;
    }
    header {
      font-weight: bold;
    }
    h1 {
      font-size: 1.5em;
      margin: 0 0 15px;
    }
    .container{
      text-align: center;
      .modal-body{
        padding: 1vh;
        margin: 2em;
      }
    }
    button {
      float:left;
      background-color: #fff;
      padding: 1em 1.5em;
      border-radius: 3px;
      text-decoration: none;
      cursor:pointer;
      &:hover{
        background-color: $tertiary-bg;
        color: white;
        transition:  0.3s;
      }
    }
    button.primary{
      background-color: $secondary-bg;
      float:right;
      transition:  0.3s;
      &:hover{
        background-color: $tertiary-bg;
      }
    }
  }
  
  .hide{
    display:none;
  }
  .show{
    display:block;
  }
    
  
  
  