$primary-bg: #FA9B06;
$secondary-bg: #D06572;
$tertiary-bg: #7C5EEE;
$main-width:78vw;
$main-width-mobile: 66vw;
$sidebar-width: 13vw;
$sidebar-width-mobile: 25vw;
$main-content-margin: 3vh 2vw;
$main-margin: 4vw;